/*.App {
  text-align: center;
  }*/

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .leaflet-container{
    width:100vw;
    height: 100vh;
  }

  /*::::::::::::::::::::::::::::::::::::::INTERFACE::::::::::::::::::::::::::::::::::::*/

  .Int{
    position: absolute;
    height: 100%;
    width: 400px;
    background: #222;
    z-index: 2000;
    transition:0.5s;
    color:white;
    left:0;
    top:0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
  }

  .Int-btn{
    background: white;
    position: absolute;
    margin-left: 400px;
    left: 0;
    top:0;
    width: 50px;
    height: 100px;
    z-index: 2000;
    border:none;
    transition:0.5s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .Int-btn2{
    background: white;
    position: absolute;
    margin-left: 600px;
    left: 0;
    top:0;
    width: 50px;
    height: 100px;
    z-index: 2000;
    border:none;
    transition:0.5s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .left{
    left:-400px!important;
  }

  .display-none{
    height: 0px;
    -webkit-transition:  height 0.5s; /* For Safari 3.1 to 6.0 */
    transition:  height 0.5s;
  }


  .Int-cat{
    margin-left: 20px;
  }

  ul{
    list-style: none;
    height: 100px;
    overflow: hidden;
    -webkit-transition:  height 0.5s; /* For Safari 3.1 to 6.0 */
    transition:  height 0.5s;
  }
  

  li{
    display: flex;
    align-items: center;
    margin:15px 0;
    cursor: pointer;
  }

  h2{
    cursor: pointer;
  }

  .material-icons.eye{
    margin-right: 15px;
  }
